@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Inter&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 800px;
}

/* HEADER START */

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #0025aa;
    border-bottom: 3px solid black;
}

#simbolo {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 70pt;
    position: relative;
    left: 50px;
    top: 7px;
}

#simbolo a {
    color: #ffffff;
    text-decoration: none;
}

#shadow-simbolo {
    position: relative;
    top: -105px;
    height: 70px;
    width: 90px;
    box-shadow: inset #0025aaa9 0 -30px 15px;
}

#container-logo {
    display: flex;
    justify-content: center;
    position: relative;
    left: 580px;
    top: -7px;
    margin: 0 auto;
}

#logotipo {
    font-size: 90pt;
    font-family: 'Alumni Sans', sans-serif;
    width: 500px;
    height: 100px;

}

#logotipo span {
    color: white;
    text-decoration: none;
}


#shadow-logotipo {
    width: 453px;
    height: 100px;
    position: relative;
    top: -135px;
    box-shadow: inset #0025aab4 0px -45px 18px 0px;
}

#logotipo a {
    display: block;
    height: 5px;
}

/* Navbar Start */

nav {
    background-color: #EC3219;
    height: 35%;
    border: 1px solid black;
    position: relative;
    top: 120px;
    left: -180px;
}

nav div {
    height: 100%;
}

nav div a,
nav div input {
    padding: 0 10px;
    border: 1px solid black;
}

nav div a,
nav input {
    font-size: 10pt;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#barra-de-busca {
    background: none;
    margin: 0;
    height: 100%;
}

nav input::placeholder {
    font-style: italic;
    color: white;
    text-align: center;
}

nav a:hover {
    color: #0025AA;
    font-weight: 600;
}

.row #flex-container {
    display: flex;
    justify-content: flex-end;
}

#menu {
    display: none;
}

/* Navbar End */






/* HEADER END */


/* MAIN START */

#azul-escuro {
    background-color: #0025AA;
    width: 1777px;
    height: 965px;
    padding: 0;
    margin-top: 50px;
}

#azul-claro {
    background-color: #0094FF;
    width: 100%;
    height: 775px;
    margin: 0;
    position: relative;
    top: 95px;

}

#azul-escuro #azul-claro .titulo-vermelho {
    font-family: 'Inter', sans-serif;
    font-size: 40pt;
    color: white;
    background-color: #EC3219;
    width: 75%;
    height: 120px;
    border: 5px solid black;
    position: relative;
    top: -60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-vermelho {
    font-family: 'Inter', sans-serif;
    font-size: 40pt;
    color: white;
    background-color: #EC3219;
    width: 75%;
    height: 164px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    width: 100.1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    left: 0px
}

.flex-container span {
    width: 33.3%;
    border: 2px solid black;
    font-size: 30pt;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.fonte-menor {
    font-size: 10.1pt;
}

#top-right-box {
    background-color: #0025aa;
    height: 100%;
    width: 300px;
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#top-right-box span a {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    text-decoration: none;

}


#buscar {
    display: none;
}

#login {
    border-bottom: 0.5px solid black;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro {
    width: 100%;
    height: 50%;
    border-top: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linha-left {
    width: 3.8%;
    height: 100%;
    position: relative;
    left: 100px;
    border-left: 3px solid black;
}

.flex-container a:hover {
    color: #EC3219;
    font-size: 40pt;
}

.flex-container .border-cima {
    border-top: 4px solid black;
}

.flex-container .border-baixo {
    border-bottom: 4px solid black;
}

a img.imagem-pequena {
    padding: 0;
    margin: 0;
    width: 90%;
    height: 561;
}



div#flex-container-img {
    display: flex;
    justify-content: space-around;
}

#imagens .titulo-vermelho {
    position: relative;
    margin: auto;
    top: 40px;
    height: 120px;
    z-index: 5;
}

#section-promocao {
    position: relative;
    top: -40px;
}

#promocao .titulo-vermelho {
    text-transform: uppercase;
    font-size: 24pt;
    text-align: center;
    margin: auto;
    position: relative;
    top: 110px;
}

#imagem-grande {
    width: 100%;
}

.parent-footer {
    background-color: rgba(0, 37, 170, 0.797);
    display: flex;

}

ul a,
ul li {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 20pt;
    color: white;
}

ul a:hover {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 20pt;
    color: #EC3219;
}

ul li:hover {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 20pt;
    color: #EC3219;
}

ul {
    list-style: none;
}

.child-left,
.child-center,
.child-right {
    text-align: left;
    width: 33.3%;
    ;
}

.child-center {
    margin: auto;
    padding-left: 50px;
}

.child-left,
.child-right {
    padding: 35px;
}

.child-left {
    border-right: 3px solid black;
}

.child-right {
    border-left: 3px solid black;
}

hr.hr {
    border: 1px solid rgba(0, 0, 0, 0.472);
}

.child-center hr.hr {
    width: 90%;
}

#redes-sociais {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 20pt;
    color: white;
}

.fundo-footer {
    background-color: #051653;
    width: 100%;
    height: 960px;
    position: relative;
    top: -959px;
    z-index: -1;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
}

footer {
    height: 900px;
    position: relative;
    top: 1345px;
}

#fundo-preto {
    position: relative;
    top: -2200px;
    width: 100%;
    height: 2200px;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

#img-pqn1,
#img-pqn2 {
    filter: blur(0px);
}

#texto-img1 {
    display: none;
    font-Family: "Inter", sans-serif;
    font-size: 30pt;
    color: white;
    position: relative;
    left: 455px;
    top: -215px;
}

#texto-img2 {
    display: none;
    font-Family: "Inter", sans-serif;
    font-size: 30pt;
    color: white;
    position: relative;
    left: 1115px;
    top: -215px;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
    
    header {
        width: 120vh;
    }

    nav {
        display: none;
    }


    #container-logo {
        left: 13%;
        top: -8%;
        margin: 0 auto;
    }

    #simbolo {
        position: relative;
        left: 5%;
    }

    #linha-left {
        position: relative;
        left: 10% !important;
    }

    #top-right-box {
        position: relative;
        left: 10%;
        z-index: 0;
        border-right: 3px solid black;
        
    }


    #top-right-box span a {
        font-weight: 500;
        font-size: 10pt !important;
        text-align: center;
    }

    body header #menu {
        display: flex !important;
        width: 100%;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        justify-content: center;
        padding: 10px 0px;
    }

    #menu a {
        color: #EC3219 !important;
    }

    body header #login {
        border-bottom: 0.5px solid black;
        padding: 0px 10px;
    }

    body header #login a {
        width: 70px;
    }

    body header #cadastro {
        border-top: 0.5px solid black;
        padding: 0px 10px;
        border-bottom: 0.5px solid black;
    }

    #buscar {
        display: flex !important;
        border-top: solid black 0.5px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-bottom: 7px solid black
    }

    #buscar a {
        color: #EC3219 !important;
        padding: 10px 0px;
    }


}
@media screen and (min-width: 576px) and (max-width: 767px) {
    
    header {
        width: 100vh;
    }

    nav {
        display: none;
    }


    #container-logo {
        left: 13%;
        top: -8%;
        margin: 0 auto;
    }

    #simbolo {
        position: relative;
        left: 5%;
    }

    #linha-left {
        position: relative;
        left: 10% !important;
    }

    #top-right-box {
        position: relative;
        left: 10%;
        z-index: 0;
        border-right: 3px solid black;
        
    }


    #top-right-box span a {
        font-weight: 500;
        font-size: 10pt !important;
        text-align: center;
    }

    body header #menu {
        display: flex !important;
        width: 100%;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        justify-content: center;
        padding: 10px 0px;
    }

    #menu a {
        color: #EC3219 !important;
    }

    body header #login {
        border-bottom: 0.5px solid black;
        padding: 0px 10px;
    }

    body header #login a {
        width: 70px;
    }

    body header #cadastro {
        border-top: 0.5px solid black;
        padding: 0px 10px;
        border-bottom: 0.5px solid black;
    }

    #buscar {
        display: flex !important;
        border-top: solid black 0.5px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-bottom: 7px solid black
    }

    #buscar a {
        color: #EC3219 !important;
        padding: 10px 0px;
    }


}
@media screen and (min-width: 768px) and (max-width: 991px) {
    
    header {
        width: 110vh
    }
    
    .row a {
        display: none;
    }
    
     input#barra-de-busca {
        width: 500px;
    }

    nav.container {
        left: -220px;
        top: 98px;
        margin: 0 auto;
        height: 40px;
        width: 400px;
    }

    .container .row {
        width: 400px;
    }

    .container .row input {
        font-size: 20px !important;
    }

    #container-logo {
        left: 22%;
        top: -20%;
        margin: 0 auto;
    }

    #simbolo {
        position: relative;
        left: 5%;
    }

    #linha-left {
        position: relative;
        left: 8% !important;
    }

    #top-right-box {
        position: relative;
        left: 0%;
        z-index: 0;
        border-right: 3px solid black;
    }

    #top-right-box span a {
        font-weight: 500;
        font-size: 10pt !important;
        text-align: center;
    }

    body header #menu {
        display: flex !important;
        width: 100%;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        justify-content: center;
        padding: 10px 0px;
    }

    #menu a {
        color: #EC3219 !important;
    }

    body header #login {
        border-bottom: 0.5px solid black;
        padding: 0px 10px;
    }

    body header #login a {
        width: 110px;
    }

    body header #cadastro {
        border-top: 0.5px solid black;
        padding: 0px 10px;
    }


}
@media screen and (min-width: 992px) and (max-width: 1199px) {

    header {
        border-bottom: 2px solid black;
    }

    #container-logo {
        left: 420px;
    }

    nav {
        left: -230px;
    }

    .container .row {
        width: 800px;
    }

    #simbolo {
        position: relative;
        left: 28%;
    }

    #linha-left {
        position: relative;
        left: 30% !important;
    }

    #top-right-box {
        position: relative;
        left: -25%;
        z-index: 0;
        border-right: 3px solid black;
        border-bottom: 1px solid black;
    }

    #top-right-box span a {
        font-weight: 500;
        font-size: 10pt !important;
        text-align: center;
    }

    nav div a,
    nav input {
        font-size: 7.5pt !important;
    }

}
@media screen and (min-width: 1200px) and (max-width: 1399px) {

    nav {
        left: -230px;
    }


    .container .row {
        width: 800px;
        
    }

    nav div a,
    nav input {
        font-size: 7.5pt !important;
    }

    #container-logo {
        left: 450px;
        margin: 0 auto;
    }


    #simbolo {
        position: relative;
        left: 15%;
    }

    #linha-left {
        position: relative;
        left: 17% !important;
    }

    #top-right-box {
        position: relative;
        left: -11.5%;
        z-index: 0;
        border-right: 3px solid black;
    }

    #top-right-box span a {
        font-weight: 500;
        font-size: 10pt !important;
        text-align: center;
    }


}
@media screen and (min-width: 1400px) and (max-width: 1499px) {

    #container-logo {
        left: 400px !important;
        margin: 0 auto;
    }

}
@media screen and (min-width: 1500px) and (max-width: 1599px) {

    #container-logo {
        left: 400px !important;
        margin: 0 auto;
    }

}
@media screen and (min-width: 1600px) and (max-width: 1699px) {

    #container-logo {
        left: 450px !important;
        margin: 0 auto;
    }

}
@media screen and (min-width: 1700px) and (max-width: 1799px) {

    #container-logo {
        left: 500px !important;
        margin: 0 auto;
    }

}